/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */

/*
  Content sections conventions
*/
.smooth-scroll { scroll-behavior: smooth }

.bg-starfield {
  background-image: 
    url('/img/starfield.svg'),
    url('/img/starfield.svg'),
    linear-gradient(180deg, #ffffff 0%, #e3f2ff 100%);
  background-size: 500px auto, 250px auto, auto;
  background-position: 0 -520px,0 -300px,0 0;
}

/* Nav Highlight Fix */
nav .border-spacepurple + .border-spacepurple { border-color: transparent; }

.box {
  @apply p-6 pb-10 mt-12 rounded-lg shadow-xl border-spacepurple border-t-6 text-center;
}

.transition {
  transition: all 0.3s ease;
}

.spacepurple-section {
  background: #3B5EE2 linear-gradient(121deg, #4668E7 0%, #2443BB 100%);
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding: 0.75rem;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  margin-top: -7rem;
  padding-top: 8rem;
  padding-bottom: 10rem;
  clip-path: polygon(0 100px,100% 0,100% calc(100% - 100px),0 100%);
  -webkit-clip-path: polygon(0 100px,100% 0,100% calc(100% - 100px),0 100%);
}

p {
  @apply text-lg font-light;
}

p + p {
  @apply mt-4;
}

h3 {
  @apply text-2xl font-medium text-spacepurple-dark tracking-tight mb-4 leading-snug;
}

@screen sm {

  .box {
    @apply p-10 pb-12 mt-16 text-left;
  }

  p {
    @apply text-xl;
  }
  
  
  h3 {
    @apply text-3xl;
  }

}

/* Custom Dark Mode Styles */
.mode-dark .bg-starfield {
  @apply bg-spacepurple-darkest;
  background-image: 
    url('/img/starfield.svg'),
    url('/img/starfield.svg'),
    linear-gradient(180deg, #06060F 0%, #000000 100%);
  background-size: 500px auto, 250px auto, auto;
  background-position: 0 -520px,0 -300px,0 0;
}

.mode-dark .spacepurple-section {
  background: #1c2138 linear-gradient(121deg, #1c2138 0%, #171c31 100%);
}

.mode-dark h3 {
  @apply text-spacepurple-light;
}

/* fix issue with two nav sections showing at once */
nav .border-spacepurple + .border-spacepurple { 
  border-color: transparent !important; 
  color: inherit;
}
/* remove outline on tap of link from webkit devices */
.no-tap-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* blog */

.blog-masthead { 
  height: 23rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px),0 100%);
}

.blog .post-image {
  min-height: 16rem;
}

.blog main p {
  @apply font-normal text-lg leading-relaxed text-gray-800;
}

.blog main p strong {
  @apply font-medium;
}

.blog main h2 {
  @apply text-2xl mt-12 mb-4 text-spacepurple-dark;
}

.blog main a {
  @apply text-spacepurple transition underline;
}

.blog main a:focus, 
.blog main a:hover {
  @apply text-spacepurple-dark;
}

.blog main blockquote {
  @apply p-6 pb-10 rounded-lg shadow-xl border-spacepurple border-l-6 bg-white mt-10 mb-10;
}

.blog main blockquote ul {
  @apply list-disc;
}

.blog main blockquote ul li {
  @apply m-4 text-base text-lg;
}


/* Dark mode blog */
.mode-dark .blog {
  @apply bg-spacepurple-darker;
}

.mode-dark .blog main a {
  @apply text-spacepurple-light;
}

.mode-dark .blog main a:focus, 
.mode-dark .blog main a:hover {
  @apply text-spacepurple;
}

.mode-dark .blog h2,
.mode-dark .blog h3 {
  @apply text-spacepurple-light;
}

.mode-dark .blog p {
  @apply text-white; 
}

.mode-dark .blog main blockquote {
  @apply bg-spacepurple-darkest border-spacepurple-light text-white;
}

.mode-dark .blog main blockquote ul li {
  @apply text-white;
}


/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;
