/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */

/*
  Content sections conventions
*/
.smooth-scroll { scroll-behavior: smooth }

.bg-starfield {
  background-image: 
    url('/img/starfield.svg'),
    url('/img/starfield.svg'),
    linear-gradient(180deg, #ffffff 0%, #e3f2ff 100%);
  background-size: 500px auto, 250px auto, auto;
  background-position: 0 -520px,0 -300px,0 0;
}

.box {
  @apply p-6 pb-10 mt-12 rounded-lg shadow-xl border-spacepurple border-t-6 text-center;
}

.transition {
  transition: all 0.3s ease;
}

.bg-black-10 { background: rgba(0,0,0,0.1) }
.bg-black-20 { background: rgba(0,0,0,0.2) }

.spacepurple-section {
  background: #3B5EE2 linear-gradient(121deg, #4668E7 0%, #2443BB 100%);
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding: 0.75rem;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  margin-top: -7rem;
  padding-top: 8rem;
  padding-bottom: 10rem;
  clip-path: polygon(0 100px,100% 0,100% calc(100% - 100px),0 100%);
  -webkit-clip-path: polygon(0 100px,100% 0,100% calc(100% - 100px),0 100%);
}

p {
  @apply text-lg font-light;
}

p + p {
  @apply mt-4;
}

h3 {
  @apply text-2xl font-medium text-spacepurple-dark tracking-tight mb-4 leading-snug;
}

@screen sm {

  .box {
    @apply p-10 pb-12 mt-16 text-left;
  }

  p {
    @apply text-xl;
  }
  
  
  h3 {
    @apply text-3xl;
  }

}

/* Custom Dark Mode Styles */
.mode-dark .bg-starfield {
  background-image: 
    url('/img/starfield.svg'),
    url('/img/starfield.svg'),
    linear-gradient(180deg, #06060F 0%, #000000 100%);
  background-size: 500px auto, 250px auto, auto;
  background-position: 0 -520px,0 -300px,0 0;
}

.mode-dark .spacepurple-section {
  background: #1c2138 linear-gradient(121deg, #1c2138 0%, #171c31 100%);
}

.mode-dark h3 {
  @apply text-spacepurple-light;
}


/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;