/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */

/*
  Content sections conventions
*/

.bg-starfield {
  background-image: 
    url('/img/starfield.svg'),
    url('/img/starfield.svg'),
    linear-gradient(180deg, #ffffff 0%, #e3f2ff 100%);
  background-size: 500px auto, 250px auto, auto;
  background-position: 0 -520px,0 -300px,0 0;
}

.box {
  @apply p-6 pb-10 mt-12 rounded-lg shadow-xl border-spacepurple border-t-6 text-center bg-white;
}

.transition {
  transition: all 0.3s ease;
}

.bg-black-10 {
  background: rgba(0,0,0,0.1)
}

.spacepurple-section {
  background: #3B5EE2;
  background-image: linear-gradient(121deg, #4668E7 0%, #2443BB 100%);
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding: 0.75rem;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  margin-top: -7rem;
  padding-top: 8rem;
  padding-bottom: 10rem;
  clip-path: polygon(0 100px,100% 0,100% calc(100% - 100px),0 100%);
  -webkit-clip-path: polygon(0 100px,100% 0,100% calc(100% - 100px),0 100%);
}

p {
  @apply text-lg font-light;
}

p + p {
  @apply mt-4;
}

h3 {
  @apply text-2xl font-medium text-spacepurple-dark tracking-tight mb-4 leading-snug;
}


/*
  Base styles for links
*/
a {
  @apply border-b-2;
  @apply border-teal-400;
}

a:hover,
a:focus {
 @apply border-b-2;
 @apply border-teal-200;
}

@screen sm {

  .box {
    @apply p-10 pb-12 mt-16 text-left;
  }

  p {
    @apply text-xl;
  }
  
  
  h3 {
    @apply text-3xl;
  }

}


/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

#about, #services, #contact {
  scroll-margin-top: 7rem;
}

header nav {
  border-bottom: 2px solid #e6e6e6;
}

header nav h1 {
  color: #1E2A61;
}

header nav li a {
  border-bottom: none;
}

header nav li a:hover, header nav li a.active {
  border-bottom: 2px solid #3050CB;
  padding-bottom: 1.66rem;
}

header nav #i-moon { 
  fill: #1E2A61;
  stroke: #1E2A61;
  cursor: not-allowed; 
}

/* hide active dotted rectangle on linux */
header nav a, a:active, a:focus{
  outline: none; /* Works in Firefox, Chrome, IE8 and above */ 
}

header nav {
  
}