# dependecies installed by npm
/node_modules
package-lock.json

# build artifacts
/dist
/src/site/css

# secrets
.env

# built css file
/src/site/_includes/css/styles.css

# macOS related files
.DS_Store
.AppleDouble
.LSOverride
.nova

# Local Netlify folder
.netlify