<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lightspeed, A Web Performance Optimization Consultancy</title>
    <meta name="description" content="Lightspeed is a performance optimization consultancy that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <meta name="author" content="Lightspeed Consulting LLC">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
	
	<body class="bg-fixed hp-gradient mx-4">
    {{ content | safe }}
    {% set js %}
      {% include "js/starfield.js" %}
      {% include "js/index.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}

      new Starfield({ 
        canvas: '.starfield',
        numStars: 300,
        vx: 0.15,
        vy: 0.05,
        starColor: '40,68,117',
        bgStart: '255,255,255',
        bgEnd: '227,242,255',
        maxRadius: 2,
        shootingStarInterval: 400
      }).start();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159388575-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-159388575-1');
    </script>
  </body>
</html>
