<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lightspeed &mdash; A High-Performance E-Commerce Agency</title>
    <meta name="description" content="Lightspeed is a performance web design agency that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <link rel="preload" href="/img/starfield.svg" as="image">
    <script>
      (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
      ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
      ;c.parentNode.insertBefore(a,c)
      })(window,document,"galite","script","/js/ga-lite.js");
      
      galite('create', 'UA-159388575-1', 'auto');
      galite('send', 'pageview');
    </script>
    {% set css %}
      {% include "css/styles.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <script defer src="/js/instantpage.js"></script>
    <link rel="shortcut icon" href="/favicon.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Lightspeed — A High-Performance E-Commerce Agency">
    <meta property="og:description" content="Lightspeed is a performance web design agency that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <meta property="og:image" content="https://reachlightspeed.com/img/lightspeed_opengraph.png">
    <meta property="og:url" content="https://reachlightspeed.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Lightspeed — A High-Performance E-Commerce Agency">
    <meta name="twitter:description" content="Lightspeed is a performance web design agency that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <meta name="twitter:image" content="https://reachlightspeed.com/img/lightspeed_opengraph.png">
    <meta name="twitter:url" content="https://reachlightspeed.com">
    <meta name="author" content="Lightspeed Consulting LLC">
    <link rel="canonical" href="https://reachlightspeed.com">
    {% set darkmode %}
      {% include "js/darkmode.js" %}
    {% endset %}
    <script>
      {{ darkmode | jsmin | safe }}
    </script>
  </head>

	<body class="bg-fixed bg-starfield mx-4 overflow-x-hidden font-body dark:text-white">
    {% include 'partials/nav.njk' %}

    {{ content | safe }}

    {% include 'partials/footer.njk' %}
    {% set js %}
      {% include "js/index.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>

</html>