<!doctype html>
<html lang="en" class="smooth-scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lightspeed &mdash; A Web Performance Optimization Consultancy</title>
    <meta name="description" content="Lightspeed is a performance optimization consultancy that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preload" href="/img/starfield.svg" as="image">
    <script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date; ga('create', 'UA-159388575-1', 'auto'); ga('send', 'pageview');</script>
    {% set css %}
      {% include "css/styles.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <link rel="shortcut icon" href="/favicon.png">
    <meta property="og:image" content="https://reachlightspeed.com/img/lightspeed_og.png">
    <meta property="og:title" content="Lightspeed — A Web Performance Optimization Consultancy">
    <meta property="twitter:image" content="https://reachlightspeed.com/img/lightspeed_og.png">
    <meta name="twitter:title" content="Lightspeed — A Web Performance Optimization Consultancy">
    <meta name="twitter:description" content="Lightspeed is a performance optimization consultancy that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <meta name="author" content="Lightspeed Consulting LLC">
    <link rel="canonical" href="https://reachlightspeed.com">
    {% set darkmode %}
      {% include "js/darkmode.js" %}
    {% endset %}
    <script>
      {{ darkmode | jsmin | safe }}
    </script>
  </head>

	<body class="bg-fixed bg-starfield mx-4 overflow-x-hidden font-body dark:text-white">
    {% include 'partials/nav.njk' %}

    {{ content | safe }}

    {% include 'partials/footer.njk' %}
    {% set js %}
      {% include "js/index.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>

</html>