<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lightspeed &mdash; A Web Performance Optimization Consultancy</title>
    <meta name="description" content="Lightspeed is a performance optimization consultancy that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preload" href="/img/starfield.svg" as="image">
    <script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date; ga('create', 'UA-159388575-1', 'auto'); ga('send', 'pageview');</script>
    {% set css %}
      {% include "css/styles.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <link rel="shortcut icon" href="/favicon.png">
    <meta property="og:image" content="https://reachlightspeed.com/img/lightspeed_og.png">
    <meta property="og:title" content="Lightspeed — A Web Performance Optimization Consultancy">
    <meta property="twitter:image" content="https://reachlightspeed.com/img/lightspeed_og.png">
    <meta name="twitter:title" content="Lightspeed — A Web Performance Optimization Consultancy">
    <meta name="twitter:description" content="Lightspeed is a performance optimization consultancy that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <meta name="author" content="Lightspeed Consulting LLC">
    <link rel="canonical" href="https://reachlightspeed.com">
    {% set darkmode %}
      {% include "js/darkmode.js" %}
    {% endset %}
    <script>
      {{ darkmode | jsmin | safe }}
    </script>
  </head>
  
	<body class="mx-4 blog overflow-x-hidden">
    {% include 'partials/nav.njk' %}
    <main class="block max-w-3xl mx-auto">

      <div class="mt-26 blog-masthead w-full absolute bg-cover top-0 left-0 "></div>
      <div class="slice"></div>
      <div class="mt-48 relative h-auto">
        <div class="post-image h-64 rounded-lg text-center bg-cover p-12">
          <h1 class="text-4xl text-white">{{ title | safe }}</h1>
          <p class="text-white text-2xl pt-2">{{ page.date | readableDate }}</p>
        </div>
        <div class="author-info -m-8">
          <picture>
            <source srcset="../../img/tj.webp 1x, ../../img/tj@2x.webp 2x" type="image/webp">
            <source srcset="../../img/tj.jpg 1x, ../../img/tj@2x.jpg 2x" type="image/jpeg">
            <img src="../../img/tj.jpg" width="64" height="64" loading="lazy" alt="A photo of Tom Hanlon" class="mx-auto rounded-full" />
          </picture>
          <div class="text-center">
            <p class="text-2xl">Tom Hanlon</p>
            <p class="text-lg mt-0">Co-Founder</p>
          </div>
        </div>
      </div>
      <section class="z-10 relative mt-20">  
        {{ content | safe }}
      </section>

      <div class="mt-4">
        <p>Interested in chatting further? <a href="/#contact">Reach out today</a> to set up a call -- we’d love to hear from you.</p>
      </div>
    </main>

    {% include 'partials/footer.njk' %}
  </body>

</html>