<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lightspeed - A Web Performance Optimization Consultancy</title>
    <meta name="description" content="Lightspeed is a performance optimization consultancy that works with forward-thinking companies to create inconceivably fast digital experiences.">
    <meta name="author" content="Lightspeed, LLC">  
    <style>
      {% set css %}
        {% include "styles/global.css" %}
      {% endset %}
      {{ css | cssmin | safe }}
    </style>
  </head>
	
	<body>
    {{ content | safe }}
    <script>
      {% set js %}
        {% include "scripts/index.js" %}
      {% endset %}
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>
