---
layout: default
---

<header class="mt-8 px-4 mx-auto max-w-2xl lg:mt-12 lg:max-w-3xl">
  <div class="relative z-10 min-h-[14rem] flex flex-col justify-center rounded-lg text-center px-4 py-12 lg:px-12 shadow-xl overflow-hidden bg-gradient-to-r from-lightspeed-green via-lightspeed-blue to-lightspeed-purple [text-shadow:0_2px_4px_rgba(0,0,0,0.4)]">
    <img src="{{ hero_img | safe }}.jpg" class="block absolute inset-0 -z-10 object-cover w-full h-full opacity-60" width="736" height="224" loading="eager" alt="{{ title | safe }}">
    <h1 class="font-headline text-2xl md:text-3xl text-white leading-snug font-semibold">{{ title | safe }}</h1>
    <span class="block text-white opacity-70 text-lg pt-2 md:text-xl">{{ page.date | readableDate }}</span>
  </div>
  <div class="relative z-20 -mt-8">
    <picture>
      <source srcset="{{ author_img | safe }}.avif 1x, {{ author_img | safe }}@2x.avif 2x" type="image/avif">
      <source srcset="{{ author_img | safe }}.webp 1x, {{ author_img | safe }}@2x.webp 2x" type="image/webp">
      <source srcset="{{ author_img | safe }}.jpg 1x, {{ author_img | safe }}@2x.jpg 2x" type="image/jpeg">
      <img src="{{ author_img | safe }}.jpg" width="64" height="64" loading="eager" alt="A photo of {{ author | safe }}" class="mx-auto rounded-full">
    </picture>
    <div class="text-center mt-2">
      <span class="block font-medium md:text-xl">{{ author | safe }}</span>
      <span class="block md:text-lg text-sm mt-0 opacity-70">{{ author_title | safe }}</span>
      {% if author_twitter %}
        <a href="https://twitter.com/{{ author_twitter | safe }}" class="inline-block rounded-full p-2 hover:bg-blue-400 hover:bg-opacity-25 text-[#1da1f2]">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="28" height="28">
            <title>{{ author | safe }} (@{{ author_twitter | safe }}) on Twitter</title>
            <path stroke-width="0" fill="currentColor" d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z" />
          </svg>
        </a>
      {% endif %}
    </div>
  </div>
</header>

<main class="px-4 pt-4 pb-8">
  <article class="prose lg:prose-lg prose-invert prose-a:decoration-lightspeed-purple prose-h2:font-medium prose-h3:font-medium prose-h2:py-2 prose-h2:border-b-2 prose-h2:border-lightspeed-blue/20 prose-li:leading-tight prose-blockquote:border-lightspeed-blue mx-auto text-left">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </article>
</main>
