---
layout: default
permalink: "blog/"
---
<main class="block max-w-3xl mt-32 mx-auto">
  <div>
      <svg viewBox="0 0 42 42" width="94" xmlns="http://www.w3.org/2000/svg" class="mx-auto sm:w-32 mt-16 text-spacepurple"><path fill="currentColor" fill-rule="evenodd" d="M21 42a21 21 0 100-42 21 21 0 000 42zM31.8 7.59a1 1 0 00-1.32-1.44l-18 11a1 1 0 00-.19 1.56l5.4 5.4-7.5 10.3a1 1 0 001.33 1.44l18-11a1 1 0 00.19-1.56l-5.4-5.4 7.5-10.3z" clip-rule="evenodd"/>
      </svg>
    <h1 class="text-5xl sm:text-7xl italic font-semibold text-spacepurple tracking-tighter leading-none text-center mt-1">Lightspeed</h1>
    <h2 class="text-3xl sm:text-4xl font-thin text-spacepurple-dark text-center leading-none mt-5">Web Performance Optimization</h2>
  </div>


  <section class="box z-10 relative sm:flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 80" width="144" fill="none" class="w-24 mt-3 mb-6 mx-auto sm:w-40 sm:p-5 sm:ml-5 sm:my-0 sm:order-1" style="max-height: 113px">
      <path fill="#3B5EE2" stroke="#1E2A61" stroke-width="6" d="M104 63a23 23 0 100-46 23 23 0 000 46z"/>
      <path stroke="#1E2A61" stroke-linecap="round" stroke-linejoin="round" stroke-width="6" d="M47 77h57a37 37 0 000-74l-92 .7M59 52H18M65 27H30M17 27H5M29 77H3"/>
    </svg>
    <div class="flex-1">
      <h3>Our latest blog posts</h3>
      <ul>
        {%- for post in collections.post -%}
          <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </section>
</main>
