<footer class="block max-w-3xl mt-16 mx-auto">

  <section class="box z-10 relative bg-white dark:bg-spacepurple-darkest">
    <div class="text-center pt-3 opacity-75 tracking-widest uppercase dark:text-white">Web Performance Newsletter</div>
    <div class="text-spacepurple text-center pt-2 font-thin leading-none tracking-wide text-3xl sm:text-4xl">Remain in Warp Speed</div>
    <p class="max-w-xl m-auto text-center pt-4 dark:text-white">Get all future posts &amp; byte size performance tips delivered straight to your inbox. We'll never sell your information. Opt out anytime.
    </p>
    <div class="max-w-xl mx-auto mt-8 sm:mb-6 relative">
      <form action="https://static.mailerlite.com/webforms/submit/b8m3e9" method="post" target="_blank">
        <label><input type="email" name="fields[email]" autocomplete="email" required placeholder="Enter Your Email" class="w-full px-3 py-4 text-xl leading-none rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none dark:text-white dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple form-control"></label>
        <input type="hidden" name="ml-submit" value="1">
        <button type="submit" class="px-10 py-3 text-xl font-medium rounded-full leading-none bg-spacepurple-dark text-white sm:bg-spacepurple sm:hover:bg-spacepurple-dark transition sm:absolute sm:right-0 sm:top-0 mt-4 sm:mt-2 sm:mr-2 dark:bg-spacepurple">Subscribe</button>
      </form>
    </div>
  </section>
  
  <section class="spacepurple-footer pt-48 -mt-48 pb-8">
    <p class="text-center text-white font-medium text-base mt-10 pb-8 text-white opacity-75 dark:text-spacepurple-light">© 2020 Lightspeed Consulting LLC</p>
  </section>

</footer>