<footer class="max-w-xl mx-auto pb-6 text-center mt-12 mb-10">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 80" width="144" fill="none" class="inline-block text-spacepurple-dark dark:text-white w-20 my-6">
    <path class="text-spacepurple" fill="currentColor" stroke="currentColor" stroke-width="6" d="M104 63a23 23 0 100-46 23 23 0 000 46z" />
    <path fill="none" stroke="currentColor" stroke-width="6" d="M104 63a23 23 0 100-46 23 23 0 000 46z" />
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6" d="M47 77h57a37 37 0 000-74l-92 .7M59 52H18M65 27H30M17 27H5M29 77H3"/>
  </svg>
  <p class="italic font-light text-lg sm:text-xl text-spacepurple-dark dark:text-white">Lightspeed was founded in 2020 to create remarkably&#8209;fast and well&#8209;designed brand experiences.</p>
  <p class="font-medium text-base mt-6 text-spacepurple-dark opacity-75 dark:text-spacepurple-light">© 2020 Lightspeed Consulting LLC</p>
</footer>