<footer class="max-w-lg mx-auto pb-6 text-center mt-12 mb-10">
  <p class="italic font-light text-lg sm:text-xl text-spacepurple-dark dark:text-white">Lightspeed was launched in January 2020, more than half of a century after the dawn of the first Space Age. 🚀</p>
  <p class="font-medium text-base mt-10 text-spacepurple-dark opacity-75 dark:text-spacepurple-light">© 2020 Lightspeed Consulting LLC</p>
</footer>