<header class="mb-32 z-20 w-full fixed top-0 left-0 right-0 border-b-3 bg-white">
  <div class="flex max-w-8xl m-auto h-16">

    <div class="flex sm:flex-1">
      <a href="/" class="border-none flex items-center pl-3 md:px-3">
        <svg viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" class="md:m-3 w-8 md:w-10 text-spacepurple"><path fill="currentColor" fill-rule="evenodd" d="M21 42a21 21 0 100-42 21 21 0 000 42zM31.8 7.59a1 1 0 00-1.32-1.44l-18 11a1 1 0 00-.19 1.56l5.4 5.4-7.5 10.3a1 1 0 001.33 1.44l18-11a1 1 0 00.19-1.56l-5.4-5.4 7.5-10.3z" clip-rule="evenodd"></path>
        </svg>
        <h1 class="hidden whitespace-no-wrap sm:inline-flex text-3xl text-spacepurple-dark italic font-semibold tracking-tighter leading-none ">Lightspeed</h1>
      </a>
    </div>

    <div class="flex flex-1 sm:flex-initial sm:w-2/3 md:w-1/2 justify-center">
      <nav class="flex w-full max-w-xl justify-around -m-3px md:text-lg text-spacepurple-dark">
        <a class="md:px-5 px-2 flex items-center border-b-3 hover:text-spacepurple" href="#services" data-nav="services">Services</a>
        <a class="md:px-5 px-2 flex items-center border-b-3 hover:text-spacepurple" href="#">Articles</a></li>
        <a class="md:px-5 px-2 flex items-center border-b-3 hover:text-spacepurple" href="#about" data-nav="about">About</a>
        <a class="md:px-5 px-2 flex items-center border-b-3 hover:text-spacepurple" href="#contact" data-nav="contact">Contact</a>
      </nav>
    </div>

    <div class="hidden lg:flex-1 lg:flex flex-row-reverse items-center">
      <a href="#" class="flex p-3">
        <svg class="w-6 mx-3 text-spacepurple-dark opacity-75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M14 2C 9 2 3 7 3 15 3 23 9 29 17 29 25 29 30 23 30 18 19 25 7 13 14 2Z" />
        </svg>
      </a>
    </div>

  </div>
</header>