
<a href="https://twitter.com/TILperf" title="Follow @TILPerf on Twitter" class="group max-w-3xl mx-auto block no-underline mt-12 mb-8 p-6 rounded-md border border-spacepurple-lightest transition bg-opacity-25 hover:bg-opacity-35 bg-spacepurple-lightest dark:border-spacepurple-darkest dark:bg-spacepurple-darkest text-center sm:text-left">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64" class="block mx-auto sm:float-left sm:mr-4 transition opacity-50 group-hover:opacity-75 text-spacepurple dark:text-spacepurple-light dark:opacity-100">
      <path stroke-width="0" fill="currentColor" d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z"></path>
  </svg>
  <h6 class="text-lg font-medium text-spacepurple-dark mb-1 dark:text-spacepurple-light">Follow @TILPerf on Twitter</h6>
  <p class="dark:text-white">Easy-to-understand, byte-sized web performance tips</p>
</a>