---
layout: lightbar
---

<main class="block max-w-3xl mt-32 mx-auto">

  <div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 80" width="144" fill="none" class="inline-block text-spacepurple-dark dark:text-white w-20 my-6">
      <path class="text-spacepurple" fill="currentColor" stroke="currentColor" stroke-width="6" d="M104 63a23 23 0 100-46 23 23 0 000 46z"></path>
      <path fill="none" stroke="currentColor" stroke-width="6" d="M104 63a23 23 0 100-46 23 23 0 000 46z"></path>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6" d="M47 77h57a37 37 0 000-74l-92 .7M59 52H18M65 27H30M17 27H5M29 77H3"></path>
    </svg>
    <h1 class="text-5xl sm:text-7xl italic font-semibold text-spacepurple tracking-tighter leading-none text-center mt-1 dark:text-white">Lightbar</h1>
    <h2 class="text-3xl sm:text-4xl font-thin text-spacepurple-dark text-center leading-none mt-5  dark:text-spacepurple-lighter">A Notification Bar for All</h2>
  </div>


  <section id="services" class="pt-12 -mt-12">
    <div class="box nav-destination offerings z-10 relative bg-white dark:bg-spacepurple-darker">
      <h3>It's never been easier to message your website's visitors</h3>
      <p>stands alone in terms of ease of use, effectiveness, or value. We made it easy to update for anyone in your company (you can update without a developer, just by using a spreadsheet) to display messages directly to your visitors. You can target it to a page, a group of pages, a certain promotion, or run it globally across your entire site.</p>
      <ol class="pb-4">
        <li class="sm:flex sm:mx-1 mt-8">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" class="text-spacepurple w-16 mx-auto sm:mr-4 sm:my-2 dark:text-spacepurple-light" style="max-height: 89px">
              <circle cx="16" cy="16" r="14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="0.25" />
              <text x="50%" y="50%" text-anchor="middle" fill="currentColor" dy=".3em" class="font-light text-lg dark:text-white">1</text>
          </svg>
          <div class="flex-1">
            <p class="font-medium text-spacepurple text-xl my-3 sm:text-2xl leading-tight dark:text-spacepurple-light">We create beautiful and fast customer experiences</p>
            <span class="text-lg font-light">We design and build beautiful, remarkably-fast, custom e&#8209;commerce experiences with performance as our guiding light</span>
          </div>
        </li>
        <li class="sm:flex sm:mx-1 mt-10 sm:mt-8">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" class="text-spacepurple w-16 mx-auto sm:mr-4 sm:my-2 dark:text-spacepurple-light" style="max-height: 89px">
              <circle cx="16" cy="16" r="14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="0.25" />
              <text x="50%" y="50%" text-anchor="middle" fill="currentColor" dy=".3em" class="font-light text-lg dark:text-white">2</text>
          </svg>
          <div class="flex-1">
            <p class="font-medium text-spacepurple text-xl my-3 sm:text-2xl leading-tight dark:text-spacepurple-light">We improve your current site</p>
            <span class="text-lg font-light">We'll audit your website and partner with your in-house engineering team or agency partners to dramatically improve your site’s performance</span>
          </div>
        </li>
      </ol>
    </div>
  </section>


  <section class="spacepurple-section -mt-96 pt-96">
    <h5 class="text-white text-center pt-20 opacity-75 tracking-widest uppercase">Finally, A Crazy-Fast-to-Load, Dead-Simple-to-Update</h5>
    <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">Notification Bar</h3>
    
    <div class="inner max-w-6xl mx-auto mt-9 flex flex-wrap justify-around mt-12">

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg id="i-msg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M2 4 L30 4 30 22 16 22 8 29 8 22 2 22 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">DM Your Visitors</h6>
        <div class="my-2 mx-1">Easily update site messaging with sales, promotions, and other notifications.</div>
      </div>
      
      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="16" cy="16" r="14" />
              <path d="M16 8 L16 16 20 20" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Crazy Fast to Load</h6>
        <div class="my-2 mx-1">It loads so fast you can't even tell. The entire script is only 1kb.</div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Dead Simple</h6>
        <div class="my-2 mx-1">We made it so easy to use you could trust your CEO with it.</div>
      </div>

    </div>
  </section>

{#
  <section class="spacepurple-section">
    <h5 class="text-white text-center pt-16 opacity-75 tracking-widest uppercase">How It Works</h5>
    <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">Bringing You Up To Speed</h3>

    <div class="inner max-w-6xl mx-auto mt-9 flex flex-wrap justify-around mt-12">

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="16" cy="16" r="14" />
              <path d="M16 8 L16 16 20 20" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Benchmark</h6>
        <div class="my-2 mx-1">We document your site's performance as it stands today for various devices and connection speeds.</div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="14" cy="14" r="12" />
              <path d="M23 23 L30 30"  />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Audit</h6>
        <div class="my-2 mx-1">We go deep on your site to surface the assets and configurations that are slowing down your site.</div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Recommendations</h6>
        <div class="my-2 mx-1">We provide you recommendations that you can take to your developers &mdash; or we can implement them for you.</div>
      </div>

    </div>
  </section>
#}

  {# <section id="about" class="pt-12 -mt-12">
    <div class="box nav-destination who z-10 relative bg-white dark:bg-spacepurple-darker">
      <h3>Who is Lightspeed</h3>
      <p>From working at startups, corporations and consulting firms, the Lightspeed team has deep e&#8209;commerce experience to help your brand succeed.</p>
      <div class="flex text-center mt-10 flex-col sm:flex-row">
        <div class="border-b pb-5 sm:pb-0 sm:border-0 dark:border-spacepurple-dark">
          <picture>
            <source srcset="img/dk.webp 1x, img/dk@2x.webp 2x" type="image/webp">
            <source srcset="img/dk.jpg 1x, img/dk@2x.jpg 2x" type="image/jpeg">
            <img src="img/dk.jpg" width="132" height="132" loading="lazy" alt="A photo of Dan Klammer." class="mx-auto rounded-full" />
          </picture>
          <span class="block mt-2 font-medium text-spacepurple text-2xl dark:text-spacepurple-light">Dan Klammer</span>
          <span class="text-xl font-thin">Co-Founder</span>
          <ul class="font-light leading-snug text-left list-disc py-2 pl-5 sm:text-lg sm:pl-10 sm:pr-4">
            <li class="my-3">Over 20 years of design and development experience</li>
            <li class="my-3">Over a dozen years of ‘in-house’ experience (startup to corporate)</li>
            <li class="my-3">Obsessed with the user experience and doing more with less</li>
          </ul>
        </div>
        <div class="pt-10 sm:pt-0">
          <picture>
            <source srcset="img/tj.webp 1x, img/tj@2x.webp 2x" type="image/webp">
            <source srcset="img/tj.jpg 1x, img/tj@2x.jpg 2x" type="image/jpeg">
            <img src="img/tj.jpg" width="132" height="132" loading="lazy" alt="A photo of Tom Hanlon" class="mx-auto rounded-full" />
          </picture>
          <span class="block mt-2 font-medium text-spacepurple text-2xl dark:text-spacepurple-light">Tom Hanlon</span>
          <span class="text-xl font-thin">Co-Founder</span>
          <ul class="font-light leading-snug text-left list-disc py-2 pl-5 sm:text-lg sm:pl-10 sm:pr-4">
            <li class="my-3">Third-party JavaScript developer turned web performance engineer</li>
            <li class="my-3">Over a dozen years of e&#8209;commerce consulting experience</li>
            <li class="my-3">Obsessed with optimization and improving clients’ digital businesses</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="spacepurple-section">
    <h5 class="text-white text-center pt-16 opacity-75 tracking-widest uppercase">How Do You Measure Up?</h5>
    <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">Test Your Site</h3>
    <p class="max-w-xl m-auto text-white text-center pt-1">Our site loaded for you in <span class="font-medium"><span id="loadtime">0.00</span> seconds</span> and usually scores 100/100 on Google Lighthouse. How does your site compare?</p>

    <div class="max-w-2xl mx-auto mt-10 sm:mb-16 relative">
      <form id="form-testsite" method="post" target="_blank">
        <label><input type="url" name="url" required id="speedtest-input" placeholder="https://yourwebsite.com" value="https://reachlightspeed.com" class="w-full p-3 pb-4 text-lg sm:text-2xl rounded shadow-lg focus:shadow-xl outline-none border-2 transition appearance-none leading-snug dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple"></label>
        <button type="submit" class="px-10 py-3 text-xl font-medium rounded-full leading-none bg-spacepurple-dark text-white sm:bg-spacepurple sm:hover:bg-spacepurple-dark transition sm:absolute sm:right-0 sm:top-0 mt-4 sm:mt-2 sm:mr-2 dark:bg-spacepurple">Test</button>
      </form>
    </div>

  </section> #}

  <section id="contact" class="pt-12 -mt-12 relative z-10">
    <div class="nav-destination box contact bg-white dark:bg-spacepurple-darker">
      <div class="contact-us">
        <h3>Contact Us</h3>
        <p>Please feel free to drop us a note&mdash;we'd love to schedule a call to introduce ourselves and hear how we can help.</p>
        <div class="contact-form text-left">
          <form id="form-contact" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">

            <div class="sm:flex pt-4">
              <div class="sm:pr-2 w-full">
                <label>
                  <span class="text-xl font-light">Name</span>
                  <input type="text" name="name" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple" /></label>
                  <label>
                  <span class="hidden">Company</span>
                  <input type="text" id="company-input-field" name="bot-field" class="hidden" /></label>
              </div>
              <div class="pt-4 sm:pt-0 sm:pl-2 w-full">
                <label>
                  <span class="text-xl font-light">Email</span>
                  <input type="email" name="email" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple" /></label>
              </div>
            </div>

            <div class="pt-4">
              <label>
                <span class="text-xl font-light">Message</span>
                <textarea name="message" rows="4" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple"></textarea></label>
            </div>
            <div class="send-it pt-4">
              <button type="submit" class="px-10 py-3 text-xl font-medium rounded-full leading-none text-white bg-spacepurple hover:bg-spacepurple-dark transition">Send</button>
            </div>
          </form>
        </div>
      </div>
      
      <!-- to show after form submitted -->
      <div class="hidden thank-you">
        <h3>Thanks, your message was sent</h3>
        <p>Someone from the Lightspeed team will get in touch with you shortly.</p>
      </div>
      
      <div class="hidden error">
        <h3>We're sorry, that didn't transmit</h3>
        <p>There was an issue with the form and your message did not come through. Please reload the page and try again.</p>
      </div>

    </div>
  </section>

{# 
  <section class="box hiring">
    <h3>We're hiring</h3>
    <p>We're always looking to partner with top talent obsessed with performance. Please take a look at the job postings below and let us know if any of them sound interesting to you.</p>
    <a href="#">
      <p>Project Manager</p>
    </a>
    <a href="#">
      <p>Web Performance Visual Designer</p>
    </a>
    <a href="#">
      <p>Web Performance Front-End Engineer</p>
    </a>
  </section> #}

</main>
