---
layout: default
title: About
---

<section class="p-6 max-w-2xl leading-relaxed text-lg mx-auto">

  <h1 class="text-center text-4xl font-bold italic bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple bg-clip-text text-transparent mb-6 pb-2">Who we are</h1>

  <p class="text-justify text-xl leading-relaxed text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget tellus eu nunc varius dictum sed sed sapien. Pellentesque efficitur quam eu nunc convallis, in congue lectus elementum. In interdum tincidunt nisl, non elementum dui mattis eu. Quisque vitae ornare orci, a vestibulum dui.
  </p>
  
  <blockquote class="max-w-2xl mx-2 relative text-left mt-10 pl-4 py-1 text-2xl font-extralight subpixel-antialiased italic before:left-0 before:top-0 before:absolute before:w-0.5 before:round before:h-full before:bg-gradient-to-b before:from-lightspeed-green before:via-lightspeed-blue before:to-lightspeed-purple">
    We believe in delivering super-fast polished experiences that delight the user, elevate your brand, and you can track easily.
  </blockquote>
  
</section>

<section class="flex flex-wrap gap-6 px-4 pt-6 pb-10 sm:flex-nowrap md:px-10 max-w-3xl leading-snug mx-auto">

  <div class="w-full bg-white/[.06] rounded p-8 mt-6">
    <div class="inline-block p-1 rounded-full bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple -mt-12 mb-3">
      <picture>
        <source srcset="/img/tj.avif 1x, /img/tj@2x.avif 2x" type="image/avif">
        <source srcset="/img/tj.webp 1x, /img/tj@2x.webp 2x" type="image/webp">
        <source srcset="/img/tj.jpg 1x, /img/tj@2x.jpg 2x" type="image/jpeg">
        <img src="/img/tj.jpg" width="132" height="132" loading="lazy" alt="A photo of Tom Hanlon" class="mx-auto rounded-full" />
      </picture>
    </div>
    <h2 class="font-semibold text-lg">Tom Hanlon</h2>
    <span class="block uppercase tracking-widest font-medium text-md opacity-50 mt-2 mb-3">
      Principal Analyst &amp;<br>
      Full-Stack Engineer
    </span>
    <p>Optimization obsessed engineer, improves business needs through testing and easy-to-read reporting.</p>
    <ul class="mt-6 flex justify-center gap-3">
      <li><a href="mailto:tom@reachlightspeed.com" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
          <title>Tom's Email</title><path d="m1.57 5.29 7.5 4.02c.26.14.58.2.91.2.33 0 .65-.06.9-.2l7.5-4.02c.5-.27.96-1.29.06-1.29H1.52c-.9 0-.43 1.02.05 1.29zm17.04 2.2-7.72 4.03c-.34.18-.58.2-.91.2s-.57-.03-.9-.2l-7.7-4.03C1 7.29 1 7.52 1 7.7V15c0 .42.57 1 1 1h16c.43 0 1-.58 1-1V7.7c0-.2 0-.42-.39-.21z"/></svg>
      </a></li>
      <li><a href="https://www.linkedin.com/in/tomhanlon/" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-[#0a66c2] hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
          <title>Tom's LinkedIn</title><path d="M5 3c0 1.1-.7 2-2 2-1.2 0-2-.9-2-1.9C1 2 1.8 1 3 1s2 .9 2 2zM1 19h4V6H1v13zM14.6 6.2c-2.1 0-3.3 1.2-3.8 2h-.1l-.2-1.7H6.9c0 1.1.1 2.4.1 3.9V19h4v-7.1c0-.4 0-.7.1-1 .3-.7.8-1.6 1.9-1.6 1.4 0 2 1.2 2 2.8V19h4v-7.4c0-3.7-1.9-5.4-4.4-5.4z"/></svg>
      </a></li>
      <li><a href="https://twitter.com/tomhanlon/" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-[#1d9bf0] hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
          <title>Tom's Twitter</title><path d="M17.32 6.25v.48c0 5-3.79 10.75-10.73 10.75-2.14 0-4.12-.63-5.79-1.7a7.66 7.66 0 0 0 5.59-1.56 3.78 3.78 0 0 1-3.53-2.62 3.86 3.86 0 0 0 1.7-.07 3.78 3.78 0 0 1-3.02-3.7v-.05c.5.28 1.1.45 1.7.47a3.77 3.77 0 0 1-1.16-5.04 10.72 10.72 0 0 0 7.78 3.95 3.77 3.77 0 0 1 6.43-3.44 7.6 7.6 0 0 0 2.4-.92 3.79 3.79 0 0 1-1.66 2.09c.77-.1 1.5-.3 2.17-.6a7.62 7.62 0 0 1-1.88 1.96z"/></svg>
      </a></li>
    </ul>
  </div>
  
  <div class="w-full bg-white/[.06] rounded p-8 mt-6">
    <div class="inline-block p-1 rounded-full bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple -mt-12 mb-3">
      <picture>
        <source srcset="/img/dk.avif 1x, /img/dk@2x.avif 2x" type="image/avif">
        <source srcset="/img/dk.webp 1x, /img/dk@2x.webp 2x" type="image/webp">
        <source srcset="/img/dk.jpg 1x, /img/dk@2x.jpg 2x" type="image/jpeg">
        <img src="/img/dk.jpg" width="132" height="132" loading="lazy" alt="A photo of Dan Klammer." class="mx-auto rounded-full" />
      </picture>
    </div>
    <h2 class="font-semibold text-lg">Dan Klammer</h2>
    <span class="block uppercase tracking-widest font-medium text-md opacity-50 mt-2 mb-3">
      Principal Designer &amp;<br>
      Performance Engineer
    </span>
    <p>Performance obsessed designer, turns ideas into polished production-ready features.</p>
    <ul class="mt-6 flex justify-center gap-3">
      <li><a href="mailto:dan@reachlightspeed.com" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
          <title>Dan's Email</title><path d="m1.57 5.29 7.5 4.02c.26.14.58.2.91.2.33 0 .65-.06.9-.2l7.5-4.02c.5-.27.96-1.29.06-1.29H1.52c-.9 0-.43 1.02.05 1.29zm17.04 2.2-7.72 4.03c-.34.18-.58.2-.91.2s-.57-.03-.9-.2l-7.7-4.03C1 7.29 1 7.52 1 7.7V15c0 .42.57 1 1 1h16c.43 0 1-.58 1-1V7.7c0-.2 0-.42-.39-.21z"/></svg>
      </a></li>
      <li><a href="https://www.linkedin.com/in/danklammer/" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-[#0a66c2] hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
          <title>Dan's LinkedIn</title><path d="M5 3c0 1.1-.7 2-2 2-1.2 0-2-.9-2-1.9C1 2 1.8 1 3 1s2 .9 2 2zM1 19h4V6H1v13zM14.6 6.2c-2.1 0-3.3 1.2-3.8 2h-.1l-.2-1.7H6.9c0 1.1.1 2.4.1 3.9V19h4v-7.1c0-.4 0-.7.1-1 .3-.7.8-1.6 1.9-1.6 1.4 0 2 1.2 2 2.8V19h4v-7.4c0-3.7-1.9-5.4-4.4-5.4z"/></svg>
      </a></li>
      <li><a href="https://twitter.com/danklammer/" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-[#1d9bf0] hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
          <title>Dan's Twitter</title><path d="M17.32 6.25v.48c0 5-3.79 10.75-10.73 10.75-2.14 0-4.12-.63-5.79-1.7a7.66 7.66 0 0 0 5.59-1.56 3.78 3.78 0 0 1-3.53-2.62 3.86 3.86 0 0 0 1.7-.07 3.78 3.78 0 0 1-3.02-3.7v-.05c.5.28 1.1.45 1.7.47a3.77 3.77 0 0 1-1.16-5.04 10.72 10.72 0 0 0 7.78 3.95 3.77 3.77 0 0 1 6.43-3.44 7.6 7.6 0 0 0 2.4-.92 3.79 3.79 0 0 1-1.66 2.09c.77-.1 1.5-.3 2.17-.6a7.62 7.62 0 0 1-1.88 1.96z"/></svg>
      </a></li>
    </ul>
  </div>
  
</section>
