---
layout: default
title: About
---

<section class="p-6 max-w-2xl leading-relaxed text-lg text-justify mx-auto">

  <h1 class="text-center text-4xl font-bold italic bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple bg-clip-text text-transparent mb-6 pb-2">Who we are</h1>

  <p class="text-justify text-xl leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget tellus eu nunc varius dictum sed sed sapien. Pellentesque efficitur quam eu nunc convallis, in congue lectus elementum. In interdum tincidunt nisl, non elementum dui mattis eu. Quisque vitae ornare orci, a vestibulum dui.</p>
  
</section>
