---
layout: default
title: About
---

<section class="p-6 max-w-2xl leading-relaxed text-lg mx-auto">

  <h1 class="text-center text-4xl font-bold italic bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple bg-clip-text text-transparent mb-5 pb-2">Meet the team</h1>

  <p class="text-left leading-relaxed text-lg md:text-xl">
    We’re just two guys trying to make cool stuff. Like tennis partners, we bring complementary skills to push our clients’ projects forward.
  </p>
  
</section>

<section class="flex flex-wrap gap-6 px-4 pt-4 sm:flex-nowrap md:px-10 max-w-3xl leading-snug mx-auto">

  <div class="w-full bg-white/[.06] rounded p-8 mt-6">
  <div class="inline-block p-1 rounded-full bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple -mt-12 mb-3">
    <picture>
      <source srcset="/img/tj.avif 1x, /img/tj@2x.avif 2x" type="image/avif">
      <source srcset="/img/tj.webp 1x, /img/tj@2x.webp 2x" type="image/webp">
      <source srcset="/img/tj.jpg 1x, /img/tj@2x.jpg 2x" type="image/jpeg">
      <img src="/img/tj.jpg" width="132" height="132" alt="A photo of Tom Hanlon" class="mx-auto rounded-full" />
    </picture>
  </div>
  <h3 class="font-semibold text-lg">Tom Hanlon</h3>
  <span class="block uppercase tracking-widest font-medium text-md opacity-50 mt-2 mb-3">
    Experimentation &amp;<br>
    Digital Analytics
  </span>
  <p>Utilizing best practices in conversion rate optimization to optimize and improve business outcomes</p>
  <ul class="mt-6 flex justify-center gap-3">
    <li><a href="mailto:tomh@reachlightspeed.com" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
        <title>Tom's Email</title><path d="m1.57 5.29 7.5 4.02c.26.14.58.2.91.2.33 0 .65-.06.9-.2l7.5-4.02c.5-.27.96-1.29.06-1.29H1.52c-.9 0-.43 1.02.05 1.29zm17.04 2.2-7.72 4.03c-.34.18-.58.2-.91.2s-.57-.03-.9-.2l-7.7-4.03C1 7.29 1 7.52 1 7.7V15c0 .42.57 1 1 1h16c.43 0 1-.58 1-1V7.7c0-.2 0-.42-.39-.21z"/></svg>
    </a></li>
    <li><a href="https://www.linkedin.com/in/tomhanlon/" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-[#0a66c2] hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
        <title>Tom's LinkedIn</title><path d="M5 3c0 1.1-.7 2-2 2-1.2 0-2-.9-2-1.9C1 2 1.8 1 3 1s2 .9 2 2zM1 19h4V6H1v13zM14.6 6.2c-2.1 0-3.3 1.2-3.8 2h-.1l-.2-1.7H6.9c0 1.1.1 2.4.1 3.9V19h4v-7.1c0-.4 0-.7.1-1 .3-.7.8-1.6 1.9-1.6 1.4 0 2 1.2 2 2.8V19h4v-7.4c0-3.7-1.9-5.4-4.4-5.4z"/></svg>
    </a></li>
    <li><a href="https://twitter.com/tomhanlon/" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-[#1d9bf0] hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
        <title>Tom's Twitter</title><path d="M17.32 6.25v.48c0 5-3.79 10.75-10.73 10.75-2.14 0-4.12-.63-5.79-1.7a7.66 7.66 0 0 0 5.59-1.56 3.78 3.78 0 0 1-3.53-2.62 3.86 3.86 0 0 0 1.7-.07 3.78 3.78 0 0 1-3.02-3.7v-.05c.5.28 1.1.45 1.7.47a3.77 3.77 0 0 1-1.16-5.04 10.72 10.72 0 0 0 7.78 3.95 3.77 3.77 0 0 1 6.43-3.44 7.6 7.6 0 0 0 2.4-.92 3.79 3.79 0 0 1-1.66 2.09c.77-.1 1.5-.3 2.17-.6a7.62 7.62 0 0 1-1.88 1.96z"/></svg>
    </a></li>
  </ul>
</div>

  <div class="w-full bg-white/[.06] rounded p-8 mt-6">
  <div class="inline-block p-1 rounded-full bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple -mt-12 mb-3">
    <picture>
      <source srcset="/img/dk.avif 1x, /img/dk@2x.avif 2x" type="image/avif">
      <source srcset="/img/dk.webp 1x, /img/dk@2x.webp 2x" type="image/webp">
      <source srcset="/img/dk.jpg 1x, /img/dk@2x.jpg 2x" type="image/jpeg">
      <img src="/img/dk.jpg" width="132" height="132" alt="A photo of Dan Klammer." class="mx-auto rounded-full" />
    </picture>
  </div>
  <h3 class="font-semibold text-lg">Dan Klammer</h3>
  <span class="block uppercase tracking-widest font-medium text-md opacity-50 mt-2 mb-3">
    Modern Design &amp;<br>
    Performance Engineering
  </span>
  <p>Performance obsessed designer, turning ideas into polished production-ready experiences</p>
  <ul class="mt-6 flex justify-center gap-3">
    <li><a href="mailto:dank@reachlightspeed.com" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
        <title>Dan's Email</title><path d="m1.57 5.29 7.5 4.02c.26.14.58.2.91.2.33 0 .65-.06.9-.2l7.5-4.02c.5-.27.96-1.29.06-1.29H1.52c-.9 0-.43 1.02.05 1.29zm17.04 2.2-7.72 4.03c-.34.18-.58.2-.91.2s-.57-.03-.9-.2l-7.7-4.03C1 7.29 1 7.52 1 7.7V15c0 .42.57 1 1 1h16c.43 0 1-.58 1-1V7.7c0-.2 0-.42-.39-.21z"/></svg>
    </a></li>
    <li><a href="https://www.linkedin.com/in/danklammer/" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-[#0a66c2] hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
        <title>Dan's LinkedIn</title><path d="M5 3c0 1.1-.7 2-2 2-1.2 0-2-.9-2-1.9C1 2 1.8 1 3 1s2 .9 2 2zM1 19h4V6H1v13zM14.6 6.2c-2.1 0-3.3 1.2-3.8 2h-.1l-.2-1.7H6.9c0 1.1.1 2.4.1 3.9V19h4v-7.1c0-.4 0-.7.1-1 .3-.7.8-1.6 1.9-1.6 1.4 0 2 1.2 2 2.8V19h4v-7.4c0-3.7-1.9-5.4-4.4-5.4z"/></svg>
    </a></li>
    <li><a href="https://twitter.com/danklammer/" class="block p-2.5 rounded-full text-lightspeed-night/90 bg-white/50 transition hover:bg-[#1d9bf0] hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
        <title>Dan's Twitter</title><path d="M17.32 6.25v.48c0 5-3.79 10.75-10.73 10.75-2.14 0-4.12-.63-5.79-1.7a7.66 7.66 0 0 0 5.59-1.56 3.78 3.78 0 0 1-3.53-2.62 3.86 3.86 0 0 0 1.7-.07 3.78 3.78 0 0 1-3.02-3.7v-.05c.5.28 1.1.45 1.7.47a3.77 3.77 0 0 1-1.16-5.04 10.72 10.72 0 0 0 7.78 3.95 3.77 3.77 0 0 1 6.43-3.44 7.6 7.6 0 0 0 2.4-.92 3.79 3.79 0 0 1-1.66 2.09c.77-.1 1.5-.3 2.17-.6a7.62 7.62 0 0 1-1.88 1.96z"/></svg>
    </a></li>
  </ul>
</div>
  
</section>


<section class="flex flex-wrap gap-6 px-4 pb-10 sm:flex-nowrap md:px-10 max-w-3xl leading-snug mx-auto text-left">

  <div class="w-full bg-white/[.06] rounded mt-6 overflow-hidden p-6 md:p-8">
    <h2 class="font-semibold text-xl leading-none">Why clients love working with us</h2>
    <p class="text-base md:text-lg mt-3 max-w-[36rem]">
    What you see is what you get. We break technical information down into easy-to-understand concepts. We love what we do: partnering with our clients to build high-quality products that push their&nbsp;businesses&nbsp;further.</p>
    <div class="mt-2 -mx-6 -mb-6 md:-mt-4 md:-mx-8 md:-mb-8" style="clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);">
      <img src="/img/dan-and-tom.jpg" width="688" height="324" alt="Dan & Tom having a beer on a patio." class="w-full">
    </div>
</div>

</section>


<section class="p-6 max-w-2xl leading-relaxed text-lg mx-auto">

  <h2 class="text-center text-3xl font-bold italic bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple bg-clip-text text-transparent mb-2 pb-2">The value we bring</h2>

  <p class="text-left leading-relaxed md:text-lg">
    We’ve seen a lot over the years from experience working "in-house" for companies as well as working for international brands for agencies. We’re in our third year of working together, bringing all of the best practices we've learned to the projects we take on. We pride ourselves on being scrappy and doing the best work we can as a two-man team. 
  </p>
  
</section>


