---
layout: default
title: Blog
---

<section class="p-6 max-w-2xl leading-relaxed text-lg text-justify mx-auto">

  <h1 class="text-center text-4xl font-bold italic bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple bg-clip-text text-transparent mb-6 pb-2">Latest from the blog</h1>

  <p class="text-justify text-xl leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget tellus eu nunc varius dictum sed sed sapien. Pellentesque efficitur quam eu nunc convallis, in congue lectus elementum. In interdum tincidunt nisl, non elementum dui mattis eu. Quisque vitae ornare orci, a vestibulum dui.</p>
  
</section>

<ul class="mt-8 mb-16 border-t border-white border-white/[.13] max-w-2xl mx-auto text-left">
  {% for post in collections.post | reverse %}
    <li><a class="flex flex-row justify-center items-center text-white p-4 border-b border-white border-white/[.13] bg-black bg-opacity-0 hover:bg-opacity-10 transition group min-h-32" href="{{ post.url }}">
      {# <img class="w-24 h-16 sm:w-32 sm:h-24 object-cover ml-2 mr-4 rounded-md shadow" src="{{ post.data.hero_img }}.jpg" loading="lazy" alt="Post image for {{ post.data.title }}" > #}
      <div class="flex-1 flex flex-col m-auto md:pr-20">
        <div class="text-xl mb-2 sm:text-xl leading-tight font-medium">{{ post.data.title }}</div>
        <div class="mb-1 text-base font-normal">{# {{ post.date | readableDate }} <span class="px-2">&middot;</span> #} {{ post.data.author }}</div>
      </div>
      <svg class="transition transform group-hover:translate-x-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M12 30 L24 16 12 2" />
      </svg>
    </a></li>
  {% endfor %}
</ul>