---
layout: default
title: Contact Us
---

<section class="p-6 max-w-2xl leading-relaxed text-lg mx-auto">

<h1 class="text-center text-4xl font-bold italic bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple bg-clip-text text-transparent mb-5 pb-2">How we can help</h1>

<p class="text-left leading-relaxed text-lg md:text-xl">
  We'd love to learn more about what you're looking for. Feel free to reach out to<span style="unicode-bidi:bidi-override; direction: rtl;">
      <a class="underline decoration-1 mailto" href="mailto:wholeteam@reachlightspeed.com">moc.deepsthgilhcaer@maet</a>
    </span>or fill out the form below.
</p> 
<div class="mt-6">
  <div class="contact-us">
    <div class="contact-form text-left">
      <form id="form-contact" method="POST" name="contact">
          <input type="hidden" name="form-name" value="contact">
          <div class="sm:flex pt-6">
            <div class="sm:pr-2 w-full">
              <label>
                <span class="text-base font-medium">Name</span>
                <input type="text" name="name" required class="mt-1  text-left w-full p-3 btn whitespace-nowrap py-3 mr-3 text-md bg-white/[.10]">
              </label>
              <label>
                <span class="hidden">Company</span>
                <input type="text" id="company-input-field" name="bot-field" class="hidden">
              </label>
            </div>
            <div class="pt-6 sm:pt-0 sm:pl-2 w-full">
              <label>
                <span class="text-base font-medium">Email</span>
                <input type="email" name="email" required class="mt-1 text-left w-full p-3 btn whitespace-nowrap py-3 mr-3 text-md bg-white/[.10]">
              </label>
            </div>
          </div>
          <div class="pt-4">
            <label>
              <span class="text-base font-medium">Message</span>
              <textarea name="message" rows="4" required class="mt-1 text-left w-full p-3 btn whitespace-nowrap py-3 mr-3 text-md bg-white/[.10]"></textarea>
            </label>
          </div>
          <div class="send-it pt-4">
            <button type="submit" class="btn whitespace-nowrap px-8 py-3 mr-3 text-md  touch-manipulation hover:opacity-100 hover:bg-gradient-to-r from-lightspeed-teal to-lightspeed-blue"">Send</button>
          </div>
        </form>
      </div>
    </div>
</div>

  <p class="text-left text-sm mt-12 opacity-70 spam-warning">👮‍♂️ If you're selling something, you should know we get a lot of spam through the form and unless your pitch is <em>really</em> good we probably won't get back to you.</p>

</section>

{% set js %}
  {% include 'js/contact.js' %}
  {% include 'js/email.js' %}
{% endset %}
<script>
  {% if site.environment === 'production' %}
    {{ js | jsmin | safe }}
  {% else %}
    {{ js | safe }}
  {% endif %}
</script>