---
layout: default
title: Contact Us
---

<section class="p-6 max-w-2xl leading-relaxed text-lg text-justify mx-auto">

  <h1 class="text-center text-4xl font-bold italic bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple bg-clip-text text-transparent mb-6 pb-2">Let's talk about your next project</h1>

  <p class="text-justify text-xl leading-relaxed">We'd love to learn more about what you're looking for. Feel free to reach out to <a class="underline decoration-1" href="#">team@reachlightspeed.com</a> or fill out the form below.</p> 
  
  <div class="mt-4">
    <div class="contact-us">
      <div class="contact-form text-left">
        <form id="form-contact" method="POST" name="contact">
            <input type="hidden" name="form-name" value="contact">
            <div class="sm:flex pt-4">
              <div class="sm:pr-2 w-full">
                <label>
                  <span class="text-xl font-light">Name</span>
                  <input type="text" name="name" required="" class="text-left w-full p-3 btn whitespace-nowrap py-3 mr-3 text-md bg-white/[.10]">
                </label>
                <label>
                  <span class="hidden">Company</span>
                  <input type="text" id="company-input-field" name="bot-field" class="hidden">
                </label>
              </div>
              <div class="pt-4 sm:pt-0 sm:pl-2 w-full">
                <label>
                  <span class="text-xl font-light">Email</span>
                  <input type="email" name="email" required="" class="text-left w-full p-3 btn whitespace-nowrap py-3 mr-3 text-md bg-white/[.10]">
                </label>
              </div>
            </div>
            <div class="pt-4">
              <label>
                <span class="text-xl font-light">Message</span>
                <textarea name="message" rows="4" required="" class="text-left w-full p-3 btn whitespace-nowrap py-3 mr-3 text-md bg-white/[.10]"></textarea>
              </label>
            </div>
            <div class="send-it pt-4">
              <button type="submit" class="btn whitespace-nowrap px-5 md:px-6 py-3 mr-3 text-md bg-white/[.10] touch-manipulation hover:bg-lightspeed-purple hover:opacity-100">Send</button>
            </div>
          </form>
        </div>
      </div>
  </div>

  <p class="text-sm mt-6 spam-warning">👮‍♂️ If you're selling something, you should know we get a lot of spam through the form and unless your pitch is <em>really</em> good we probably won't get back to you.</p>

</section>

{% set js %}
  {% include 'js/contact.js' %}
{% endset %}
<script>
  {% if site.environment === 'production' %}
    {{ js | jsmin | safe }}
  {% else %}
    {{ js | safe }}
  {% endif %}
</script>