---
layout: default
title: Lightspeed — A High‑Performance E‑Commerce Agency
description: Lightspeed is a performance web design + development agency that works with forward-thinking companies to create best-in-class digital brand experiences.
---


<canvas id="starfield" class="fixed -z-50 inset-0 w-screen h-screen opacity-50"></canvas>

<section class="p-4 max-w-2xl leading-relaxed text-lg text-center mx-auto min-h-[calc(100vh-300px)] flex flex-col justify-center items-center md:p-6">

  <style>
    .warpspeed .bolt-outline { opacity: 0; }
    .warpspeed .bolt-fill { opacity: 0.8; }
  </style>
  <svg id="hero-bolt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 164 223" width="140" height="200" class="h-40 md:h-auto overflow-visible mx-auto mb-4">
    <defs>
      <linearGradient x1="25%" y1="10%" x2="73%" y2="82%" id="b">
        <stop stop-color="#85F8A2" offset="0%"/>
        <stop stop-color="#4A84BE" offset="48.9%"/>
        <stop stop-color="#7060B4" offset="100%"/>
      </linearGradient>
      <path d="M150 1 19 81c-4 3-5 8-1 12l39 39-55 75c-4 7 3 15 10 11l131-80c4-3 5-8 1-12l-39-39 55-75c4-7-3-15-10-11Z" id="a"/>
    </defs>
    <use class="bolt-fill transition opacity-0" xlink:href="#a" fill="url(#b)"/>
    <g class="bolt-outline transition opacity-100" fill="none" fill-rule="evenodd">
      <use stroke="url(#b)" xlink:href="#a"/>
      <circle fill="#FFF" cx="149" cy="2" r="2"/>
      <circle fill="#FFF" cx="19" cy="81" r="2"/>
      <circle fill="#FFF" cx="18" cy="93" r="2"/>
      <circle fill="#FFF" cx="105" cy="87" r="2"/>
      <circle fill="#FFF" cx="143" cy="126" r="2"/>
      <circle fill="#FFF" cx="142" cy="138" r="2"/>
      <circle fill="#FFF" cx="56" cy="132" r="2"/>
      <circle fill="#FFF" cx="12" cy="218" r="2"/>
      <circle fill="#FFF" cx="2" cy="207" r="2"/>
      <circle fill="#FFF" cx="159" cy="13" r="2"/>
    </g>
  </svg>


  <h1 class="font-headline tracking-tight text-4xl font-bold italic bg-gradient-to-br from-lightspeed-green via-lightspeed-blue to-lightspeed-purple bg-clip-text text-transparent pb-2 md:text-5xl">Fast, modern, future&#8209;ready digital experiences</h1>

  <p class="text-lg mt-3 md:mt-5 md:text-2xl">We offer custom design, development, analytics and optimization services for e‑commerce brands.</p>
  
  <a href="/services" class="btn mt-6 md:mt-8 hover:opacity-100 hover:bg-gradient-to-r from-lightspeed-teal to-lightspeed-blue" id="hero-cta">Launch with us</a>

</section>

{% set js %}
  {% include 'js/starfield.js' %}
{% endset %}
<script>
  {% if site.environment === 'production' %}
    {{ js | jsmin | safe }}
  {% else %}
    {{ js | safe }}
  {% endif %}
</script>
