---
layout: default
---

<main class="block max-w-3xl mt-32 mx-auto">
  <div>
      <svg viewBox="0 0 42 42" width="94" xmlns="http://www.w3.org/2000/svg" class="mx-auto sm:w-32 mt-16 text-spacepurple"><path fill="currentColor" fill-rule="evenodd" d="M21 42a21 21 0 100-42 21 21 0 000 42zM31.8 7.59a1 1 0 00-1.32-1.44l-18 11a1 1 0 00-.19 1.56l5.4 5.4-7.5 10.3a1 1 0 001.33 1.44l18-11a1 1 0 00.19-1.56l-5.4-5.4 7.5-10.3z" clip-rule="evenodd"/>
      </svg>
    <h1 class="text-5xl sm:text-7xl italic font-semibold text-spacepurple tracking-tighter leading-none text-center mt-1 dark:text-white">Lightspeed</h1>
    <h2 class="text-3xl sm:text-4xl font-thin text-spacepurple-dark text-center leading-none mt-5  dark:text-spacepurple-lighter">High&#8209;Performance E&#8209;Commerce</h2>
  </div>


  <section id="services" class="pt-12 -mt-12">
    <div class="box nav-destination offerings z-10 relative bg-white dark:bg-spacepurple-darker">
      <h3>Remarkably-fast and well-designed web experiences</h3>
      <p>Our mission is to improve your customers' experience&mdash;and your brand's conversions&mdash;on platforms like Shopify, Amazon and your brand's website.</p>
      <ol class="pb-4">
        <li class="sm:flex sm:mx-1 mt-8">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" class="text-spacepurple w-16 mx-auto sm:mr-4 sm:my-2 dark:text-spacepurple-light" style="max-height: 89px">
              <circle cx="16" cy="16" r="14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="0.25" />
              <text x="50%" y="50%" text-anchor="middle" fill="currentColor" dy=".3em" class="font-light text-lg dark:text-white">1</text>
          </svg>
          <div class="flex-1">
            <p class="font-medium text-spacepurple text-xl my-3 sm:text-2xl leading-tight dark:text-spacepurple-light">We create beautiful and fast customer experiences</p>
            <span class="text-lg font-light">We design and build beautiful, remarkably-fast, custom e&#8209;commerce experiences with performance as our guiding light</span>
          </div>
        </li>
        <li class="sm:flex sm:mx-1 mt-10 sm:mt-8">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" class="text-spacepurple w-16 mx-auto sm:mr-4 sm:my-2 dark:text-spacepurple-light" style="max-height: 89px">
              <circle cx="16" cy="16" r="14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="0.25" />
              <text x="50%" y="50%" text-anchor="middle" fill="currentColor" dy=".3em" class="font-light text-lg dark:text-white">2</text>
          </svg>
          <div class="flex-1">
            <p class="font-medium text-spacepurple text-xl my-3 sm:text-2xl leading-tight dark:text-spacepurple-light">We improve your current site</p>
            <span class="text-lg font-light">We'll audit your website and partner with your in-house engineering team or agency partners to dramatically improve your site’s performance</span>
          </div>
        </li>
      </ol>
    </div>
  </section>


  <section class="spacepurple-section -mt-96 pt-96">
    <h5 class="text-white text-center pt-20 opacity-75 tracking-widest uppercase">Why Performance Matters</h5>
    <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">The Need for Speed</h3>
    
    <div class="inner max-w-6xl mx-auto mt-9 flex flex-wrap justify-around mt-12">

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
              <circle cx="25" cy="27" r="2" />
              <circle cx="12" cy="27" r="2" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Increased Conversions</h6>
        <div class="my-2 mx-1">A fast website will boost conversions and generate more revenue.</div>
        <div class="case-study p-4 mt-6 bg-black bg-opacity-20 rounded-lg">
          <div class="italic text-left">A 1 second delay means a 7% reduction in conversions.</div>
          <div class="text-right opacity-75 mt-1">- Akamai</div>
        </div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="16" cy="16" r="14" />
              <path d="M16 8 L16 16 20 20" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Better Engagement</h6>
        <div class="my-2 mx-1">With a performant site, your users are more likely to browse than to bounce.</div>
        <div class="case-study p-4 mt-6 bg-black bg-opacity-20 rounded-lg">
          <div class="italic text-left">1 second of load time correlates to a 4.9% drop in session depth.</div>
          <div class="text-right opacity-75 mt-1">- Financial Times</div>
        </div>
      </div>
    
      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M2 30 L8 30 8 22 2 22 2 30Z M13 30 L19 30 19 12 13 12 13 30Z M24 30 L30 30 30 2 24 2 24 30Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Improved SEO</h6>
        <div class="my-2 mx-1">Google penalizes slow websites. Speeding up your site will help with SEO.</div>
        <div class="case-study p-4 mt-6 bg-black bg-opacity-20 rounded-lg">
          <div class="italic text-left">We’ve decided to take site speed into account in our search rankings.</div>
          <div class="text-right opacity-75 mt-1">- Google Webmaster Blog</div>
        </div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Customer Delight</h6>
        <div class="my-2 mx-1">Users won't wait for a slow website. A fast user experience is a pleasurable one.</div>
        <div class="case-study p-4 mt-6 bg-black bg-opacity-20 rounded-lg">
          <div class="italic text-left">40% of visitors will abandon a website that takes bg-black bg-opacity-20>3 seconds to load.</div>
          <div class="text-right opacity-75 mt-1">- Kissmetrics</div>
        </div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="17" cy="15" r="1" />
              <circle cx="16" cy="16" r="6" />
              <path d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Great First Impression</h6>
        <div class="my-2 mx-1">If your website loads quickly, it's instantly perceived as professional and reliable.</div>
        <div class="case-study p-4 mt-6 bg-black bg-opacity-20 rounded-lg">
          <div class="italic text-left">66% of visitors said speed influences their impression of a company.</div>
          <div class="text-right opacity-75 mt-1">- Customer Research Lab</div>
        </div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M21 2 L11 2 C10 2 9 3 9 4 L9 28 C9 29 10 30 11 30 L21 30 C22 30 23 29 23 28 L23 4 C23 3 22 2 21 2 Z M9 5 L23 5 M9 27 L23 27" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Accessible to All</h6>
        <div class="my-2 mx-1">Connection and device speeds vary. If your site is fast, it's accessible to all.</div>
        <div class="case-study p-4 mt-6 bg-black bg-opacity-20 rounded-lg">
          <div class="italic text-left">In 2019, 55.1M users accessed the internet exclusively on mobile.</div>
          <div class="text-right opacity-75 mt-1">- Statista</div>
        </div>
      </div>

    </div>
  </section>

{#
  <section class="spacepurple-section">
    <h5 class="text-white text-center pt-16 opacity-75 tracking-widest uppercase">How It Works</h5>
    <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">Bringing You Up To Speed</h3>

    <div class="inner max-w-6xl mx-auto mt-9 flex flex-wrap justify-around mt-12">

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="16" cy="16" r="14" />
              <path d="M16 8 L16 16 20 20" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Benchmark</h6>
        <div class="my-2 mx-1">We document your site's performance as it stands today for various devices and connection speeds.</div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="14" cy="14" r="12" />
              <path d="M23 23 L30 30"  />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Audit</h6>
        <div class="my-2 mx-1">We go deep on your site to surface the assets and configurations that are slowing down your site.</div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark dark:text-white dark:bg-spacepurple">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Recommendations</h6>
        <div class="my-2 mx-1">We provide you recommendations that you can take to your developers &mdash; or we can implement them for you.</div>
      </div>

    </div>
  </section>
#}

  <section id="about" class="pt-12 -mt-12">
    <div class="box nav-destination who z-10 relative bg-white dark:bg-spacepurple-darker">
      <h3>Who is Lightspeed</h3>
      <p>From working at startups, corporations and consulting firms, the Lightspeed team has deep e&#8209;commerce experience to help your brand succeed.</p>
      <div class="flex text-center mt-10 flex-col sm:flex-row">
        <div class="border-b pb-5 sm:pb-0 sm:border-0 dark:border-spacepurple-dark">
          <picture>
            <source srcset="img/dk.avif 1x, img/dk@2x.avif 2x" type="image/avif">
            <source srcset="img/dk.webp 1x, img/dk@2x.webp 2x" type="image/webp">
            <source srcset="img/dk.jpg 1x, img/dk@2x.jpg 2x" type="image/jpeg">
            <img src="img/dk.jpg" width="132" height="132" loading="lazy" alt="A photo of Dan Klammer." class="mx-auto rounded-full" />
          </picture>
          <span class="block mt-2 font-medium text-spacepurple text-2xl dark:text-spacepurple-light">Dan Klammer</span>
          <span class="text-xl font-thin">Co-Founder</span>
          <ul class="font-light leading-snug text-left list-disc py-2 pl-5 sm:text-lg sm:pl-10 sm:pr-4">
            <li class="my-3">Over 20 years of design and development experience</li>
            <li class="my-3">Over a dozen years of ‘in-house’ experience (startup to corporate)</li>
            <li class="my-3">Obsessed with the user experience and doing more with less</li>
          </ul>
        </div>
        <div class="pt-10 sm:pt-0">
          <picture>
            <source srcset="img/tj.avif 1x, img/tj@2x.avif 2x" type="image/avif">
            <source srcset="img/tj.webp 1x, img/tj@2x.webp 2x" type="image/webp">
            <source srcset="img/tj.jpg 1x, img/tj@2x.jpg 2x" type="image/jpeg">
            <img src="img/tj.jpg" width="132" height="132" loading="lazy" alt="A photo of Tom Hanlon" class="mx-auto rounded-full" />
          </picture>
          <span class="block mt-2 font-medium text-spacepurple text-2xl dark:text-spacepurple-light">Tom Hanlon</span>
          <span class="text-xl font-thin">Co-Founder</span>
          <ul class="font-light leading-snug text-left list-disc py-2 pl-5 sm:text-lg sm:pl-10 sm:pr-4">
            <li class="my-3">Third-party JavaScript developer turned web performance engineer</li>
            <li class="my-3">Over a dozen years of e&#8209;commerce consulting experience</li>
            <li class="my-3">Obsessed with optimization and improving clients’ digital businesses</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="spacepurple-section">
    <h5 class="text-white text-center pt-16 opacity-75 tracking-widest uppercase">How Do You Measure Up?</h5>
    <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">Test Your Site</h3>
    <p class="max-w-xl m-auto text-white text-center pt-1">Our site loaded for you in <span class="font-medium"><span id="loadtime">0.00</span> seconds</span> with a perfect score on Google's PageSpeed Insights tool. How does your site compare?</p>

    <div class="max-w-2xl mx-auto mt-10 sm:mb-16 relative">
      <form id="form-testsite" method="post" target="_blank">
        <label><input type="url" name="url" required id="speedtest-input" placeholder="https://yourwebsite.com" value="https://reachlightspeed.com" class="w-full p-3 pb-4 text-lg sm:text-2xl rounded shadow-lg focus:shadow-xl outline-none border-2 transition appearance-none leading-snug dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple"></label>
        <button type="submit" class="px-10 py-3 text-xl font-medium rounded-full leading-none bg-spacepurple-dark text-white sm:bg-spacepurple sm:hover:bg-spacepurple-dark transition sm:absolute sm:right-0 sm:top-0 mt-4 sm:mt-2 sm:mr-2 dark:bg-spacepurple">Test</button>
      </form>
    </div>

  </section>

  <section id="contact" class="pt-12 -mt-12 relative z-10">
    <div class="nav-destination box contact bg-white dark:bg-spacepurple-darker">
      <div class="contact-us">
        <h3>Contact Us</h3>
        <p>Please feel free to drop us a note&mdash;we'd love to schedule a call to introduce ourselves and hear how we can help.</p>
        <div class="contact-form text-left">
          <form id="form-contact" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">

            <div class="sm:flex pt-4">
              <div class="sm:pr-2 w-full">
                <label>
                  <span class="text-xl font-light">Name</span>
                  <input type="text" name="name" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple" /></label>
                  <label>
                  <span class="hidden">Company</span>
                  <input type="text" id="company-input-field" name="bot-field" class="hidden" /></label>
              </div>
              <div class="pt-4 sm:pt-0 sm:pl-2 w-full">
                <label>
                  <span class="text-xl font-light">Email</span>
                  <input type="email" name="email" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple" /></label>
              </div>
            </div>

            <div class="pt-4">
              <label>
                <span class="text-xl font-light">Message</span>
                <textarea name="message" rows="4" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none dark:border-spacepurple-dark dark:bg-spacepurple-darkest dark-focus:border-spacepurple"></textarea></label>
            </div>
            <div class="send-it pt-4">
              <button type="submit" class="px-10 py-3 text-xl font-medium rounded-full leading-none text-white bg-spacepurple hover:bg-spacepurple-dark transition">Send</button>
            </div>
          </form>
        </div>
      </div>
      
      <!-- to show after form submitted -->
      <div class="hidden thank-you">
        <h3>Thanks, your message was sent</h3>
        <p>Someone from the Lightspeed team will get in touch with you shortly.</p>
      </div>
      
      <div class="hidden error">
        <h3>We're sorry, that didn't transmit</h3>
        <p>There was an issue with the form and your message did not come through. Please reload the page and try again.</p>
      </div>

    </div>
  </section>

{# 
  <section class="box hiring">
    <h3>We're hiring</h3>
    <p>We're always looking to partner with top talent obsessed with performance. Please take a look at the job postings below and let us know if any of them sound interesting to you.</p>
    <a href="#">
      <p>Project Manager</p>
    </a>
    <a href="#">
      <p>Web Performance Visual Designer</p>
    </a>
    <a href="#">
      <p>Web Performance Front-End Engineer</p>
    </a>
  </section> #}

  <section class="spacepurple-section mt-8" id="blog">
    <div class="max-w-3xl mx-auto">
      <h5 class="text-white text-center pt-16 opacity-75 tracking-widest uppercase">Our Perspectives</h5>
      <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">Latest Blog Posts</h3>

      <ul class="mt-12 mb-12 sm:mb-16 border-t border-white border-opacity-25 dark:border-spacepurple-dark">
        {%- for post in collections.post | reverse -%}
          <li><a class="flex flex-row justify-center items-center text-white p-4 border-b border-white border-opacity-25 bg-black bg-opacity-0 hover:bg-opacity-10 transition dark:border-spacepurple-dark group min-h-32" href="{{ post.url }}">
            {# <img class="w-24 h-16 sm:w-32 sm:h-24 object-cover ml-2 mr-4 rounded-md shadow" src="{{ post.data.hero_img }}.jpg" loading="lazy" alt="Post image for {{ post.data.title }}" > #}
            <div class="flex-1 flex flex-col m-auto">
              <div class="font-light text-xl mb-2 sm:text-2xl leading-tight">{{ post.data.title }}</div>
              <div class="mb-1">{{ post.date | readableDate }} &bullet; {{ post.data.author }}</div>
            </div>
            <svg class="transition transform group-hover:translate-x-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M12 30 L24 16 12 2" />
            </svg>
          </a></li>
        {%- endfor -%}
      </ul>
    </div>
  </section>


  <section class="box mb-12 bg-white dark:bg-spacepurple-darker">
    <h3>Frequently Asked Questions</h3>
    <div class="text-left">

      <details class="py-4 sm:px-4 sm:py-5 border-b dark:border-spacepurple-dark">
          <summary class="outline-none font-medium text-lg sm:text-xl text-spacepurple cursor-pointer dark:text-spacepurple-light">Q: How do we work together?</summary>
          <p class="sm:pl-5 ml-1 mt-1 sm:text-lg font-normal">A: <a class="text-spacepurple underline" href="/#contact">Contact us</a> and we'll schedule a call to learn a bit more about each other. We'd love to hear about your goals, initiatives and pain points.</p>        
      </details>

      <details class="py-4 sm:px-4 sm:py-5 border-b dark:border-spacepurple-dark">
          <summary class="outline-none font-medium text-lg sm:text-xl text-spacepurple cursor-pointer dark:text-spacepurple-light">Q: What if my brand isn't on Shopify or Amazon?</summary>
          <p class="sm:pl-5 ml-1 mt-1 sm:text-lg font-normal">A: We work with all kinds of platforms and even custom e-commerce applications. We also work with companies wanting to create new Shopify or Amazon experiences.</p>        
      </details>

      <details class="py-4 sm:px-4 sm:py-5 border-b dark:border-spacepurple-dark">
        <summary class="outline-none font-medium text-lg sm:text-xl text-spacepurple cursor-pointer dark:text-spacepurple-light">Q: How much does it cost?</summary>
          <p class="sm:pl-5 ml-1 mt-1 sm:text-lg font-normal">A: Each project is different. We are focused on delivering client value. In creating world-class e-commerce experiences, our goal is to maximize your return on investment.</p>
      </details>

    </div>
  </section>

</main>
