---
title: ElevenTail
layout: default
---

<main class="block max-w-3xl mx-auto">

  <header>
      <svg viewBox="0 0 42 42" width="94" xmlns="http://www.w3.org/2000/svg" class="mx-auto sm:w-32 mt-16 text-spacepurple"><path fill="currentColor" fill-rule="evenodd" d="M21 42a21 21 0 100-42 21 21 0 000 42zM31.8 7.59a1 1 0 00-1.32-1.44l-18 11a1 1 0 00-.19 1.56l5.4 5.4-7.5 10.3a1 1 0 001.33 1.44l18-11a1 1 0 00.19-1.56l-5.4-5.4 7.5-10.3z" clip-rule="evenodd"/>
      </svg>
    <h1 class="text-5xl sm:text-7xl italic font-semibold text-spacepurple tracking-tighter leading-none text-center mt-1">Lightspeed</h1>
    <h2 class="text-3xl sm:text-4xl font-thin text-spacepurple-dark text-center leading-none mt-5">A Web Performance Optimization Consultancy</h2>
  </header>


  <section class="box z-10 relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 80" width="144" fill="none" class="w-24 mt-3 mb-6 mx-auto sm:w-40 sm:float-right sm:p-5 sm:ml-5 sm:my-0">
      <path fill="#3B5EE2" stroke="#1E2A61" stroke-width="6" d="M104 63a23 23 0 100-46 23 23 0 000 46z"/>
      <path stroke="#1E2A61" stroke-linecap="round" stroke-linejoin="round" stroke-width="6" d="M47 77h57a37 37 0 000-74l-92 .7M59 52H18M65 27H30M17 27H5M29 77H3"/>
    </svg>

    <h3>Inconceivably fast digital experiences</h3>
    <p>We work with companies like yours to speed up your site to improve business outcomes and engagement metrics.</p>
  </section>

  <section class="spacepurple-section">
    <h5 class="text-white text-center pt-16 opacity-75 tracking-widest uppercase">Why Performance Matters</h5>
    <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">The Need for Speed</h3>
    
    <div class="inner max-w-6xl mx-auto mt-9 flex flex-wrap justify-around mt-12">

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
              <circle cx="25" cy="27" r="2" />
              <circle cx="12" cy="27" r="2" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Increased Conversions</h6>
        <div class="my-2 mx-1">A fast website will boost conversions and generate more revenue.</div>
        <div class="case-study p-4 mt-6 bg-black-10 rounded-lg">
          <div class="italic text-left">A 1 second delay means a 7% reduction in conversions.</div>
          <div class="text-right opacity-75 mt-1">- Akamai</div>
        </div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="16" cy="16" r="14" />
              <path d="M16 8 L16 16 20 20" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Better Engagement</h6>
        <div class="my-2 mx-1">With a performant site, your users are more likely to browse than to bounce.</div>
        <div class="case-study p-4 mt-6 bg-black-10 rounded-lg">
          <div class="italic text-left">1 second of load time correlates to a 4.9% drop in session depth.</div>
          <div class="text-right opacity-75 mt-1">- Financial Times</div>
        </div>
      </div>
    
      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M4 16 L11 16 14 29 18 3 21 16 28 16" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Improved SEO</h6>
        <div class="my-2 mx-1">Google penalizes slow websites. Speeding up your site will help with SEO.</div>
        <div class="case-study p-4 mt-6 bg-black-10 rounded-lg">
          <div class="italic text-left">We’ve decided to take site speed into account in our search rankings.</div>
          <div class="text-right opacity-75 mt-1">- Google Webmaster Blog</div>
        </div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Customer Delight</h6>
        <div class="my-2 mx-1">Users won't wait for a slow website. A fast user experience is a pleasurable one.</div>
        <div class="case-study p-4 mt-6 bg-black-10 rounded-lg">
          <div class="italic text-left">40% of visitors will abandon a website that takes >3 seconds to load.</div>
          <div class="text-right opacity-75 mt-1">- Kissmetrics</div>
        </div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="17" cy="15" r="1" />
              <circle cx="16" cy="16" r="6" />
              <path d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Great First Impression</h6>
        <div class="my-2 mx-1">If your website loads quickly, it's instantly perceived as professional and reliable.</div>
        <div class="case-study p-4 mt-6 bg-black-10 rounded-lg">
          <div class="italic text-left">66% of visitors said speed influences their impression of a company.</div>
          <div class="text-right opacity-75 mt-1">- Customer Research Lab</div>
        </div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M21 2 L11 2 C10 2 9 3 9 4 L9 28 C9 29 10 30 11 30 L21 30 C22 30 23 29 23 28 L23 4 C23 3 22 2 21 2 Z M9 5 L23 5 M9 27 L23 27" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Accessible to All</h6>
        <div class="my-2 mx-1">Connection and device speeds vary. If your site is fast, it's accessible to all.</div>
        <div class="case-study p-4 mt-6 bg-black-10 rounded-lg">
          <div class="italic text-left">In 2019, 55.1M users accessed the internet exclusively on mobile.</div>
          <div class="text-right opacity-75 mt-1">- Statista</div>
        </div>
      </div>

    </div>
  </section>


  <section class="box offerings z-10 relative">
    <h3>Our Service Offerings</h3>
    <p>We are laser-focused on our mission and have two service offerings:</p>
    <ol class="pb-4">
      <li class="sm:mx-1 mt-8">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" class="text-spacepurple w-16 mx-auto sm:float-left sm:mr-4 sm:my-2">
            <circle cx="16" cy="16" r="14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="0.25" />
            <text x="50%" y="50%" text-anchor="middle" fill="currentColor" dy=".3em" class="font-light text-lg">1</text>
        </svg>
        <p class="font-medium text-spacepurple text-xl my-3 sm:text-2xl leading-tight">We speed up your current site </p>
        <span class="text-lg font-light">We'll audit your website and partner with your in-house engineering team or agency partners to dramatically improve your site’s performance</span>
      </li>
      <li class="sm:mx-1 mt-10 sm:mt-8">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" class="text-spacepurple w-16 mx-auto sm:float-left sm:mr-4 sm:my-2">
            <circle cx="16" cy="16" r="14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="0.25" />
            <text x="50%" y="50%" text-anchor="middle" fill="currentColor" dy=".3em" class="font-light text-lg">2</text>
        </svg>
        <p class="font-medium text-spacepurple text-xl my-3 sm:text-2xl leading-tight">We redesign your site with speed as a priority</p>
        <span class="text-lg font-light">We design and build beautiful, unthinkably fast, custom website experiences with performance as our guiding light</span>
      </li>
    </ol>
  </section>


  <section class="spacepurple-section">
    <h5 class="text-white text-center pt-16 opacity-75 tracking-widest uppercase">How It Works</h5>
    <h3 class="text-white text-center pt-1 font-thin sm:text-5xl tracking-wide text-4xl">Bringing You Up To Speed</h3>

    <div class="inner max-w-6xl mx-auto mt-9 flex flex-wrap justify-around mt-12">

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="16" cy="16" r="14" />
              <path d="M16 8 L16 16 20 20" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Benchmark</h6>
        <div class="my-2 mx-1">We document your site's performance as it stands today for various devices and connection speeds.</div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <circle cx="14" cy="14" r="12" />
              <path d="M23 23 L30 30"  />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Audit</h6>
        <div class="my-2 mx-1">We go deep on your site to surface the assets and configurations that are slowing down your site.</div>
      </div>

      <div class="mb-12 text-white text-center px-5 md:w-1/2 lg:px-8 lg:w-1/3">
          <div class="p-6 m-auto bg-white rounded-full inline-block text-spacepurple-dark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z" />
            </svg>
          </div>
        <h6 class="m-2 text-2xl">Recommendations</h6>
        <div class="my-2 mx-1">We provide you recommendations that you can take to your developers &mdash; or we can implement them for you.</div>
      </div>

    </div>
  </section>


  <section class="box who">
    <h3>Who is Lightspeed</h3>
    <div class="flex text-center mt-10 flex-col sm:flex-row">
      <div class="border-b pb-5 sm:pb-0 sm:border-0">
        <picture>
          <source srcset="img/dk.webp" type="image/webp">
          <img src="img/dk.jpg" width="132" height="132" loading="lazy" alt="A photo of Dan Klammer." class="mx-auto rounded-full" />
        </picture>
        <span class="block mt-2 font-medium text-spacepurple text-2xl">Dan Klammer</span>
        <span class="text-xl font-thin">Co-Founder</span>
        <ul class="font-light leading-snug text-left list-disc py-2 pl-5 sm:text-lg sm:pl-10 sm:pr-4">
          <li class="my-3">Over 20 years of design and development experience</li>
          <li class="my-3">Over a dozen years of ‘in-house’ experience (startup to corporate)</li>
          <li class="my-3">Obsessed with the user experience and doing more with less</li>
        </ul>
      </div>
      <div class="pt-10 sm:pt-0">
        <picture>
          <source srcset="img/tj.webp" type="image/webp">
          <img src="img/tj.jpg" width="132" height="132" loading="lazy" alt="A photo of Tom Hanlon" class="mx-auto rounded-full" />
        </picture>
        <span class="block mt-2 font-medium text-spacepurple text-2xl">Tom Hanlon</span>
        <span class="text-xl font-thin">Co-Founder</span>
        <ul class="font-light leading-snug text-left list-disc py-2 pl-5 sm:text-lg sm:pl-10 sm:pr-4">
          <li class="my-3">Third-party JavaScript developer turned product manager</li>
          <li class="my-3">Over a dozen years of e-commerce consulting experience</li>
          <li class="my-3">Obsessed with optimization and improving clients’ digital businesses</li>
        </ul>
      </div>
    </div>
  </section>


  <section class="box contact">
    <div class="contact-us">
      <h3>Contact Us</h3>
      <div class="contact-form text-left">
        <form name="contact" method="POST" data-netlify="true">

          <div class="sm:flex pt-4">
            <div class="sm:pr-2 w-full">
              <label>
                <span class="text-xl font-light">Name</span>
                <input type="text" name="name" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none" /></label>
            </div>
            <div class="pt-4 sm:pt-0 sm:pl-2 w-full">
              <label>
                <span class="text-xl font-light">Email</span>
                <input type="email" name="email" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none" /></label>
            </div>
          </div>

          <div class="pt-4">
            <label>
              <span class="text-xl font-light">Message</span>
              <textarea name="message" rows="4" required class="w-full p-3 rounded focus:border-spacepurple border-gray-300 outline-none border-2 transition appearance-none"></textarea></label>
          </div>
          <div class="send-it pt-4">
            <button type="submit" class="px-10 py-3 text-xl font-medium rounded-full leading-none text-white bg-spacepurple hover:bg-spacepurple-dark transition">Send</button>
          </div>
        </form>
      </div>
    </div>
    
    <!-- to show after form submitted -->
    <div class="hidden thank-you">
      <h3>Thanks, your message was sent</h3>
      <p>Someone from the Lightspeed team will get in touch with you shortly.</p>
    </div>
    
    <div class="hidden error">
      <h3>We're sorry, that didn't transmit</h3>
      <p>There was an issue with the form and your message did not come through. Please reload the page and try again.</p>
    </div>
  </section>

{# 
  <section class="box hiring">
    <h3>We're hiring</h3>
    <p>We're always looking to partner with top talent obsessed with performance. Please take a look at the job postings below and let us know if any of them sound interesting to you.</p>
    <a href="#">
      <p>Project Manager</p>
    </a>
    <a href="#">
      <p>Web Performance Visual Designer</p>
    </a>
    <a href="#">
      <p>Web Performance Front-End Engineer</p>
    </a>
  </section> #}


  <section class="box mb-12">
    <h3>Frequently Asked Questions</h3>
    <div class="text-left">

      <details class="py-4 sm:px-4 sm:py-5 border-b">
          <summary class="outline-none font-medium text-lg sm:text-xl text-spacepurple cursor-pointer">Q: Is light a particle or a wave?</summary>
          <p class="sm:pl-5 ml-1 mt-1 sm:text-lg font-normal">A: The wave-particle duality, a core tenet of quantum mechanics, tells us that light can behave simultaneously as a particle and a wave. Thanks for the question!</p>        
      </details>

      <details class="py-4 sm:px-4 sm:py-5 border-b">
          <summary class="outline-none font-medium text-lg sm:text-xl text-spacepurple cursor-pointer">Q: How fast does light travel?</summary>
          <p class="sm:pl-5 ml-1 mt-1 sm:text-lg font-normal">A: Light travels about 186,000 miles per second in the vacuum of space.</p>        
      </details>

      <details class="py-4 sm:px-4 sm:py-5 border-b">
        <summary class="outline-none font-medium text-lg sm:text-xl text-spacepurple cursor-pointer">Q: How do plants absorb energy from the sun?</summary>
          <p class="sm:pl-5 ml-1 mt-1 sm:text-lg font-normal">A: This process is called photosynthesis. Thanks for the question!</p>
      </details>

    </div>
  </section>

</main>

<footer class="max-w-lg mx-auto pb-6 text-center mt-12 mb-10">
  <p class="italic font-light text-lg sm:text-xl text-spacepurple-dark">Lightspeed was launched in January 2020, more than half of a century after the dawn of the first Space Age. 🚀</p>
  <p class="font-medium text-base mt-10 opacity-50 text-spacepurple">© 2020 Lightspeed Consulting LLC</p>
</footer>


<script>
  // Animate those stars, baby!
  function animateStars() {
    document.body.style.backgroundPosition = "0 60px,0 0,0 0";
  }
  window.onload = animateStars;
</script>